* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 100%;
    padding: 0 78px;
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 23px;
    height: 49px;
    width: 500px;
}

.nav-links a, select.product-select{
    font-size: 13px;
    color: #262626;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    padding-top: 4px;
}

.nav-links a:hover, button.search-button:hover {
    border-bottom: 2px solid #000;
}

select.product-select {
    border: none;
    margin-bottom: 3px;
}

.search-login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 370px;
    gap: 20px;
}

.search-wrapper, .login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #fff;
}

.login-wrapper {
    gap: 8px;
}

.search-button, .login-button {
    font-size: 13px;
    color: #262626;
    background: none;
    border: none;
}

.bg-img {
    position: relative;
}

.bg-text {
    position: absolute;
    top: 100px;
    left: 150px;
    width: 467px;
    color: #fff;
}

.bg-text h1 {
    font-size: 40px;
    margin-bottom: 22px;
    font-weight: 500;
    line-height: 47px;
}

.check-pc {
    display: block;
    height: 45px;
    width: fit-content;
    padding: 10px 10px 5px ;
    font-size: 17px;
    background-color: #0067B8;
    margin-top: 25px;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.check-pc:hover {
    background-color: #025ca1;
}

button a {
    color:#fff;
    border: none;
    text-decoration: none;
    font-weight: normal;
}

.microsoft-tools {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 76px;
}

.ms-box, .ms-box img {
    width: 320px;
}

.link-group {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.link-wrapper {
    display: flex;
    align-items: center;
    color: #0067B8;
    margin-top: 25px;
    width: fit-content;
    font-weight: 550;
}

.link-wrapper .arrow {
    font-size: 25px;
    transition: 0.3s ease;
    position: relative;
    left: 3px;
    bottom: 2px;
}

.link-wrapper a {
    text-decoration: none;
    color: inherit;
}
.link-wrapper:hover a {
    text-decoration: underline;
}

.link-wrapper:hover .arrow {
    position: relative;
    left: 7px;
}

.for-ios-android {
    margin: 100px 0;
    position: relative;
    font-size: 17px;
}

.for-ios-android img{
    max-width: 100%;
}

.ios-android-text-wrapper {
    width: 410px;
    position: absolute;
    left: 120px;
    top: 150px;
}

.ios-android-text-wrapper h1 {
    margin-bottom: 21px;
    font-weight: 600;
    text-align: left;
    font-size: 40px;
}

.ios-android-text-wrapper a {
    display: block;
    height: 45px;
    width: fit-content;
    padding: 10px 15px 5px;
    font-size: 17px;
    background-color: #0067B8;
    margin-top: 25px;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.ios-android-text-wrapper a:hover {
    background-color: #025ca1;
}

.returner-button {
    position: fixed;
    bottom: 14px;
    right: 14px;
    padding: 11px;
    padding-left: 34px;
    background-color: #d6d6d6;
    border-radius: 3px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

#up-arrow {
    position: absolute;
    top: 15px;
    left: 10px;
}

.returner-button:hover {
    background-color: #fff;
}

.returner-button.active {
    opacity: 1;
    visibility: visible;
}
