* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 100%;
    padding: 0 78px;
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 23px;
    height: 49px;
    width: 500px;
}

.nav-links a, select.product-select{
    font-size: 13px;
    color: #262626;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    padding-top: 4px;
}

.nav-links a:hover, button.search-button:hover {
    border-bottom: 2px solid #000;
}

select.product-select {
    border: none;
}

.search-login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 370px;
    gap: 20px;
}

.search-wrapper, .login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #fff;
}

.login-wrapper {
    gap: 8px;
}

.search-button, .login-button {
    font-size: 13px;
    color: #262626;
    background: none;
    border: none;
}

.bg-img {
    position: relative;
}

.bg-text {
    position: absolute;
    top: 100px;
    left: 150px;
    width: 467px;
    color: #fff;
}

.bg-text h1 {
    font-size: 40px;
    margin-bottom: 22px;
    font-weight: 500;
    line-height: 47px;
}

.check-pc {
    display: block;
    height: 45px;
    width: 255px;
    font-size: 17px;
    background-color: #0067B8;
    margin-top: 25px;
    border: none;
    border-radius: 3px;
}

button a {
    color:#fff;
    border: none;
    text-decoration: none;
    font-weight: normal;
}

.microsoft-tools {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.ms-box {
    width: 320px;
    height: 440px;
}

.ms-box img {
    width: 290px;
}

.ms-box a {
    color: #0067b8;
    margin-top: 30px;
}

.ms-box a:hover {
    text-decoration: none;
    color: #0067b8;
}
